.top-cont{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  

h2{
    color: rgb(20, 155, 155);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    cursor: pointer;

}

.about.x{
    color: rgb(58, 58, 58);
}

.about.y{
    color: rgb(20, 155, 155);
   
}